<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="sMailServer" value="148.226.12.25"/>
    <add key="PATH" value="LDAP://148.226.12.12"/>
    <!--Cuenta para el envío de Notificaciones-->
    <add key="AppMail" value="sige@uv.mx"/>
    <add key="AppMailPwd" value="GsXAck2"/>
    <!--<add key="SmtpClient" value="exuv01.intra.uv.mx"/>-->
    <add key="SmtpClient" value="smtp.office365.com"/>
    <!--<add key="SmtpClient" value="https://smtp.office365.com"/>-->


    <!--Ambiente de DESARROLLO-->
    <add key="SIGE_DVLP" value="U2VydmVyPVNSVlhBREJEU0QzO0RhdGFCYXNlPVNJR0VfRFZMUDtVSWQ9d3NTSUdFO1B3ZD1tejA3c2c5Mg=="/>
    <add key="keySIGE_DVLP" value="ccss2013"/>

    <!--Ambiente de ENTRENAMIENTO-->
    <add key="SIGE_TRNG" value="U2VydmVyPVNSVlhBREJEU0Q0O0RhdGFCYXNlPVNJR0VfVFJORztVSWQ9d3NTSUdFO1B3ZD1hYjIycm16OQ=="/>
    <add key="keySIGE_TRNG" value="th20ccss13ky"/>

    <!--Ambiente de PRODUCCIÓN-->
    <add key="SIGE" value="U2VydmVyPVNSVlhBREJEUzExO0RhdGFCYXNlPVNJR0U7VUlkPXdzU0lHRTtQd2Q9c2lnZXdzNjU="/>
    <add key="keySIGE" value="th20ccss13ky"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>